*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.worthit-logo img {
    height:100%; /* Adjust the height as needed */
    object-fit: cover; 
    width: 100%;
}
